
body {
font-family:Helvetica,Corbel,Verdana, Arial, Microsoft YaHei,sans-serif;
  font-size:14px;
  background-color:#FFE4B5;
  color:black;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  border:thin dotted gray;
  padding:15px;
  line-height:1.5em;
  background-color:#efefef; 
background-image: -webkit-linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%),
  -webkit-linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%),
  -webkit-linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%),
  -webkit-linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%),
  -webkit-linear-gradient(0, #e73a33 0%, #fde02a 16%,#3ab157 32%,#39beb9 40%,#00a7cc 60%,#483e94 75%,#96469d 82% ,#d9328a 100%);
  
background-image: -moz-linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%),
  -moz-linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%),
  -moz-linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%),
  -moz-linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%),
  -moz-linear-gradient(0, #e73a33 0%, #fde02a 16%,#3ab157 32%,#39beb9 40%,#00a7cc 60%,#483e94 75%,#96469d 82% ,#d9328a 100%);
  
background-image: -o-linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%),
  -o-linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%),
  -o-linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%),
  -o-linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%),
  -o-linear-gradient(0, #e73a33 0%, #fde02a 16%,#3ab157 32%,#39beb9 40%,#00a7cc 60%,#483e94 75%,#96469d 82% ,#d9328a 100%);
  
background-size: 11px, 29px, 37px, 53px,100%;
  }
  .wmd-preview h1,h2 {
  font-size:1.6em;
  font-family:迷你简雪君,KaiTi;
  }
  .wmd-preview h2 {
  font-size:1.3em;
  }
